---
title: "CFKNow Curated Free KNowledge"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/booksandmath.png
  actions:
    - label: "Get"
      url: "/get/"
    - label: "Contribute"
      url: "get/how-to-contribute-quick-start-guide/"
    - label: "Engage"
      url: "/community/"
#  caption: "Photo credit: 'Book & Math' by AM"
excerpt: "Increase your knowledge with free and valued resources"
#intro: 
#  - excerpt: 
feature_row:
  - image_path: /assets/images/ml-theory-min.png
    alt: "Machine learning theory books image"
    title: "Machine learning theory books"
    excerpt: "Get `free books` on **machine learning theory**"
    url: "https://cfknow.github.io/get/machine-learning-theory-books/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/ml-programming-min.png
    alt: "Machine learning programming books image"
    title: "Machine learning programming books"
    excerpt: "Get `free books` on **machine learning programming**"
    url: "https://cfknow.github.io/get/machine-learning-programming-books/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/ml-applications-min.png
    alt: "Machine learning applications books image"
    title: "Machine learning applications books"
    excerpt: "Get `free books` on **machine learning applications**"
    url: "https://cfknow.github.io/get/machine-learning-applications-books/"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/algebra-min.png
    alt: "Algebra books image"
    title: "Algebra books"
    excerpt: "Get `free books` on *algebra**"
    url: "https://cfknow.github.io/get/mathematics-algebra-books/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/ps-min.png
    alt: "Probability and statistics books image"
    title: "Probability and statistics books"
    excerpt: "Get `free books` on *probability and statistics**"
    url: "https://cfknow.github.io/get/mathematics-probability_statistics-books/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/rc-analysis-min.png
    alt: "Real and complex analysis books image"
    title: "Real and complex analysis books"
    excerpt: "Get `free books` on *real and complex analysis**"
    url: "https://cfknow.github.io/get/mathematics-real_complex-analysis-books/"
    btn_label: "Read more"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}
